label {
  text-align: center;
  margin-right: 10px;
}

.marginTop {
  margin-top: 25px;
}

button {
  margin-top: 25px;
}

.signForm {
  border: 1px solid black;
  height: 230px;
  width: 400px;
  margin:auto;
}